
<div data-scope-path="shares/test">
  <header>
    <h1>
    <img src="assets/logo.png" alt="ロゴイメージ">
    </h1>
        <p>
      <img src="assets/topimage001.png" alt="ヒーローイメージ" class="hero-img">
    </p>
  <nav>
    <ul class="navi">
      <li class="current">HOME</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </nav>
  </header>
  <body>
  <article>

  </article>
  </body>
  <footer>
  <ul class="sns">
    <li ><a href=""><img src="assets/twitter.png" class="sns-icon"></a></li>
    <li ><a href=""><img src="assets/instagram.png" class="sns-icon"></a></li>
    <li ><a href=""><img src="assets/youtube.png" class="sns-icon"></a></li>
  </ul>

  <p class="copyright">
  &copy; 2020 my portforlo.;
  </p>
  </footer>
</div>