
.show-table {
  border-collapse: separate;
  display: block;
  margin: 15px;
  table-layout: fixed;
}

.dmer-th {
  background:linear-gradient(40deg, rgb(189, 3, 3) 0%, rgb(253, 146, 146) 100%);
  text-align: center;
  color: white;
  padding: 10px 0;
}

.aupay-th {
  background:linear-gradient(40deg, orange 0%, rgb(255, 242, 142) 100%);
  text-align: center;
  color: white;
  padding: 10px 0;
}

.paypay-th {
  text-align: center;
  color: white;
  background: linear-gradient(40deg, red 0%, rgb(255, 201, 201) 100%);
  padding: 10px 0;
}

.praness-th {
  text-align: center;
  color: white;
  background: linear-gradient(40deg, blue 0%, white 100%);
  padding: 10px 0;
}
.summit-th {
  text-align: center;
  color: white;
  background: linear-gradient(40deg, rgb(255, 166, 0) 0%, rgb(221, 230, 93) 100%);
  padding: 10px 0;
}

.panda-th {
  text-align: center;
  color: white;
  background: linear-gradient(40deg, rgb(249, 145, 162) 0%, rgb(209, 96, 231) 100%);
  padding: 10px 0;
}

.show-title {
  position: relative;
  padding: 0.5em;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.show-title::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #7c9fea;
}

.show-td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 15vw;
  padding: 10px 0;
}

.show-link {
  text-decoration: none;
  color: blue;
}

.show-th{
  position: relative;
  text-align: left;
  width: 10%;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  color: white;
  text-align: center;
  padding: 10px 0;
  
}



.show-td-done {
  border: rgb(215, 207, 207) solid 1px;
  width: 200px;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  background-color: rgb(205, 195, 195);
  color: white;
}

.show-td-long {
  border: rgb(215, 207, 207) solid 1px;
  text-align: center;
  color: rgb(74, 73, 73);
  width: 40%;
  
  padding: 10px 0;
}

.show-td-none {
  background-color: rgb(240, 235, 234);
  color: white;
  width: 200px;
  text-align: center;
  height: 30px;
  padding-top: 8px;
}

.show-td-summit {
  border: rgb(215, 207, 207) solid 1px;
  width: 200px;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  background-color: rgb(251, 237, 240);
  color: white;
}