[data-scope-path="shares/date-progress"] {

  h2 {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 15px;
    color: #676565;
  }

  .pie-graph {
    display: flex;
    width: 100%;
    
  }

  .pie-graph-section {
    width: 35vw;
    display: none;
  }


  .caution-txt {
    color: rgb(241, 195, 195);
    margin-top: 15px;
    margin-left: 15px;
  }

  .head-form {
    display: flex;
  }
 
  .link {
    text-decoration: none;
  }

  .create-path-form {
    padding: 5px;
  }

  .create-data {
    margin-left: 15px;
    padding: 3px;
    background: #c4c2c2;
    font-size: 0.8rem;
    border-bottom: 1px solid white;
    
  }

  .create-link {
    text-decoration: none;
    margin-left: 5px;
    color: white;
    display: block;
  }

  .date-head {
   margin-top: 20px;
   margin-left: 15px; 
  }

  .active-btn {
    background-color: white;
    color: #676565;
    font-weight: bold;
    border: 1px solid #676565;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .s-tb {
    border: 1px solid #676565;
    // margin-top: 15px;
    margin-left: 10px;
  }

  .s-th {
    border: 1px solid #676565;
    background: #c4c2c2;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 3px;
  }
  .s-td {
    border: 1px solid #676565;
    font-size: 0.8rem;
    text-align: center;
  }

  .s-input {
    border: none;
  }

  .s-submit {
    background: #96C0CE;
    text-align: center;
  }

  .s-btn {
    background: #96C0CE;
    font-size: 0.8rem;
    color: white;
    border: none;
    cursor: pointer;

  }

  .s-reset {
    background-color: #676565;
  }

  .reset-link {
    background-color: #676565;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 3px;
  }

  .btn-form {
    display: flex;
    // justify-items: end;
    
  }

  .progress-tb {
    margin: 15px;
    width: 75vw;
    border:1px solid #676565;
    font-size: 0.6rem;
    text-align: center;
  }

  .progress-tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
  }

  .sum-tr {
    background-color: rgb(246, 222, 222);
  }

  .difference-tr {
    background-color: rgb(224, 246, 222);
  }

  .progress-th1 {
    border:1px solid #676565;
    background-color: #676565;
    color: white;
    padding: 3px;
  }
  .progress-th2 {
    border:1px solid #676565;
    background: #c4c2c2;
    color: white;
    padding: 3px;
  }

  .progress-td {
    border:1px solid #676565;
    color: #676565;
    padding: 5px;
  }

  .difference-td {
    border:1px solid #676565;
    background-color: rgb(255, 247, 236);
    color: #676565;
    // font-weight: bold;
    padding: 5px;
  }

  .base-slcter {
    border: 1px solid #676565;
    color: #676565;
    font-size: 1rem;
  }

  .graph-slct {
    margin: 15px;
    padding: 5px;
    color: #676565;
    font-size: 1rem;
  }

  .graph-form-first {
    width: 75vw;
    margin: 15px;
  }

  .graph-form {
    display: none;
    width: 75vw;
    margin: 15px;
  }


  .red {
    color: initial;
    color: red;
  }

  
}