[data-scope-path="shared/form"] {

  h1 {
    font-size: 110%;
    color: #8e8d8d;
    text-align: center;
  }
  h2 {
    font-size: 90%;
    margin-top: 10px;
    color: #8e8d8d;
    text-align: center;
  }

  .caution {
    color: rgb(233, 150, 150);
    font-size: 50%;
  }

  .form {
    margin: 20px auto;
    padding: 10px;
    border: solid 1px #c4c2c2;
    border-radius: 5px;
    width: 40vw;
    // height: 10vh;
  }

  .basic-form {
    display: none;
  }

  .form-caution {
    font-size: 3px;
    font-weight: bold;
    color: rgb(226, 154, 154);
    margin-left: 3px;
  }

  .form-title {
    margin: 20px auto;
    padding: 10px;
    width: 40vw;
  }

  .memo-form {
    display: none;
  }

  button {
    margin-left: 13vw;
    width: 10vw;
    border: none;
    border-radius: 5px;
    background: #c4c2c2;
    color: white;
    font-weight: bold;
  }

  textarea {
    width: 70vw;
    height: 70vh;
    margin: 20px;
  }
  

  .form-main {
    width: 80vw;
    // margin: auto;
  }

  .form-submit {
    margin: auto;
    margin-bottom: 20px;
    // padding: 10px;
    width: 40vw;
  }

  .form-head {
    // text-align: left;
    color: #8e8d8d;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .form-text {
    color: rgb(42, 41, 41);
    font-size: 90%;
  }

  .input {
    border: none;
    border-bottom: 1px solid #c4c2c2;
    margin-top: 20px;
    width: 30vw;
  }

  .num-input {
    border: none;
    border-bottom: 1px solid #c4c2c2;
    margin-top: 20px;
    width: 6vw;
    // background: #f7f3f3;
  }

  


  .date-input {
    border: none;
    border-bottom: 1px solid #c4c2c2;
    margin-top: 20px;
    width: 30vw;
  }

  .slct-input {
    border: none;
    border-bottom: 1px solid #c4c2c2;
    margin-top: 20px;
    width: 30vw;
  }

  .form-text {
    width: 70vw;
  }



  .submit-btn {
    border: none;
    border-radius: 5px;
    background: #c4c2c2;
    color: white;
    width: 100px;
  }

  @media screen and (max-width: 599px) {
    .form-submit {
      width: 50vw;
    }
    .form {
      width: 50vw;
    }
    .form-title {
      width: 50vw;
    }
    .form-text {
      font-size: calc(100%/2);
    }
  }

}