[data-scope-path="shares/index"] {


h1 {
  margin-left: 15px;
  color: #676565;
}

h2 {
  font-size: 17px;
  margin-left: 15px;
}

.text {
  color: #868585;
  font-weight: bold;
  margin: 20px;
}


.reg {
  text-align: center;
  color: white;
  font-weight: bold;
  background: linear-gradient(40deg, #c4c2c2 0%,  #add8e6 90%);
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 15px 5px;
  margin-left: 15px;
  width: 7vw;
  border-radius: 18px 0;
}

.reg-link {
  text-decoration: none;
  color: white;
  display: block;
}

table{
  // border-collapse: collapse;
  margin: 20px ;
  table-layout: fixed;
  // min-width: 80vw;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  // max-width: 80vw;
}

tr:nth-child(odd) {background: #ede5e5;}

th {
  text-align: center;
  color: white;
  background: #96C0CE;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 8px;
  // border-bottom: none;
  font-size: 6px;
  white-space: nowrap;
}

.th-head {background: #969595;}

td {
  // white-space: nowrap;
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 6px;
  font-size: 4px;
}

.index-td {
  white-space: nowrap;
  vertical-align: middle;
}

// スクロール

.remarks-td {
  text-align: left;
}

.remarks-td-dmer {
  text-align: left;
  white-space: nowrap;
}

.remarks-th {
  text-align: left;
}

.out-tb thead th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
}

// スクロール

// 検索フォーム

.s-form {
  border: 1px solid #969595;
  border-radius: 5px;
  width: 75vw;
  margin: 10px 0 5px 15px ;
  padding: 5px;
  // background: #969595;
}

.user-form {
  width: 20vw;
}

.product-form {
  width: 30vw;
}

.s-flex {
  display: flex;
  width: 50vw;
  max-width: 50vw;
  
}


.s-tb {
  // border: #c4c2c2 solid 2px;
  // width: 30vw;
  border-radius: 8px;
}

.s-tr {
  border-bottom: rgb(205, 203, 203) solid 2px;
}

.s-th {
  background: #c4c2c2;
  // text-align: left;
}

.s-td {
  background: white;
  color: #969595;
  font-weight: bold;
  // text-align: left;
}

.s-text {
  padding: 5px;
  color: #969595;
  font-weight: bold;
  margin: 15px;
}

.s-label {
  padding: 5px;
  color: #969595;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 5px;
  
}

.s-text-field {
  margin-left: 15px;
  width: 15vw;
}

.s-slct-field {
  margin-left: 15px;
  width: 15.5vw;
  height: 4vh;
  margin-bottom: 10px;
}

.s-slct-input {
  border-radius: 5px;
  width: 15.5vw;
  height: 4vh;
  border: #969595 2px solid;
  margin-bottom: 10px;
}

.s-text-input {
  border-radius: 5px;
  width: 15vw;
  height: 3vh;
  border: #969595 2px solid;
  margin-bottom: 10px;
}

.s-input {
  border: 1px solid #969595;
  border-radius: 5px;
  text-decoration: none;
  color: #969595;
  font-weight: bold;
}

.t-input {
  border: none;
  width: 15vw;
  color: #969595;
  font-weight: bold;
}

.input-box {
  margin-left: 15px;
}

.s-btn {
  width: 8vw;
  height: 5vh;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  background: #96C0CE;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.search-btn {
  // border: none;
  height: 21px;
  font-size: 75%;
  border: none;
  border-radius: 5px;
  background: #96C0CE;
  color: white;
}

.s-reset-btn {
  width: 8vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  background: #c4bfbb;
  color: white;
  font-weight: bold;
}

.search-th {
  text-align: center;
  color: white;
  background: #c4c2c2;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
}

.search-head {
  vertical-align: middle;
  background: linear-gradient(30deg, #add8e6 30%, #c4c2c2 100%);
  border-radius: 15px 0 0 15px;
  font-size: 18px;
  width: 100px;
}

// 検索フォーム

.active-btn {
  margin-left: 15px;
  margin-bottom: 10px;
  border: 1px solid #c4c2c2;
  border-radius: 5px;
  color: #676565;
  // font-weight: bold;
  background: white;

}

.reset-link {
  text-decoration: none;
  color: white;
  display: block;
}

.link {
  text-decoration: none;
  color: blue;
}

.caution-link {
  color: rgb(228, 52, 52);
  text-decoration: none;
  font-weight: bold;
}

.result {
  background: #96C0CE;
  // width: 10%;
}

.reset {
  background: #c4bfbb;
  padding: 5px;
}

.result-btn {
  border: none;
  background: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

// 検索フォーム


// 入力フォーム

.input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
}

.date-input {
  background: none;
  border: none;
  width: 48%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
}

// 入力フォーム

.check-form {
  margin: 20px;
}

.check-label {
  font-weight: bold;
  // padding: 5px;
  border: none;
  cursor: pointer;
}

.check-input {
  width:24px;
  height:24px;
}

// 入力フォーム

// テキストフォーム

.nav-text {
  margin: 15px;
  color: #676565;
  font-weight: bold;
}

.text-form {
  margin: 10px;
  padding: 15px;
  width: 20vw;
  border: solid 3px #cfcccc;
}

// テキストフォーム

// CSVフォーム
.csv-tb {
  max-width: 30vw;
}

.csv-label {
  background: linear-gradient(30deg, #add8e6 30%, #c4c2c2 100%);
  color: white;
  width: 10%;
}

.csv-td {
  // width: 20%;
}
// CSVフォーム

.kaminari-page{
  margin: 20px;
}



@media screen and (max-width: 599px) {
  .main {width:80vw;}
  h1 {font-size: 100%;}
  h2 {width: 40vw;}
  .csv-tb {display: none;}
  .search-head {font-size: 12px;}
  .input {font-size: 10px;}
  .date-input {font-size: 10px;}
  th {font-size: 10px;}
  td {
    font-size: 10px; 
    width: 20vw;
    padding: 10px;
  }
  .search-th {
    font-size: 10px;
    width: 20vw;
    padding:8px 15px;
  }
  .caution-text {font-size: 10px;}
  .result-btn {font-size: 10px;}
  .nav-text {font-size: 10px;}
  .text-form {width: 50vw; padding: 10px;}
}

}

