[data-scope-path="shares/show"] {

  h1 {
    padding: 1.0em;
    font-size: 20px;
    background: linear-gradient(40deg, #c4c2c2 0%,  #add8e6 90%);
    color: white;
  }

  h2 {
    margin-top: 20px;
    margin-left: 20px;
    // padding: 0.5em;
    font-size: 15px;
    // border-bottom:2px solid #c4c2c2;
    color: #666464;
    width: 100%;

  }

  .section {
    // background-color: gray;
    // border: 1px solid gray;
    margin: 10px;
    // padding: 15px;
  }

  .caution-txt {
    color: rgb(245, 205, 205);
    font-weight: bold;
    margin: 15px;
  }

  hr {
    border: none;
    border-bottom:2px solid #c4c2c2;
  }
  // ヘッダー
  header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    // border-bottom: #d9534f solid 5px;
    background: linear-gradient(40deg, #c4c2c2 0%,  #add8e6 90%);
  }
  
  
  .sign-text {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .sign-bar {
    display: flex;
    justify-content: space-between;
  }
  // ヘッダー
  // ハンバーガーデザイン
  .nav {
    display: flex;
    
  }
  
  .dropdown {
    display: none;
    margin: 0;
    position: fixed;
  }
  label {
    color: #fff;
    border-right: solid 3px ;
    width: 200px;
  }
  
  label:hover {
    background: #C25B56;
  }
  
  li {
    background: #a9a7a7;
    color: white;
    opacity: 0.9;
    width: 200px;
  }
  
  label,
  li {
    display: block;
    padding: 7px;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: bold;
  }
  
  li:hover {
    opacity: 1;
    background: #C25B56;
  }
  
  
  .side-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
  } 
  
  // ハンバーガーデザイン
  
  .reg {
    text-align: center;
    color: white;
    font-weight: bold;
    background: linear-gradient(40deg, #c4c2c2 0%,  #96ceb4 90%);
    box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
    padding: 15px 0;
    margin: 15px;
    width: 7vw;
    border-radius: 18px 0;
  }
  
  .reg-link {
    text-decoration: none;
    color: white;
    display: block;
  }

  .btn-form {
    margin: 20px;
  }

  .active-btn {
    width: 130px;
    // border: 1px solid gray;
    border: none;
    border-radius: 5px;
    background-color: #a9a7a7;
    color: rgb(255, 253, 253);
    font-weight: bold;
    cursor: pointer;
  }
  
  
  table{
    // border-collapse: collapse;
    margin: 20px ;
    overflow-x: scroll;
  }
  th {
    font-size: 0.6rem;
    text-align: center;
    color: #474646;
    background: rgb(235, 233, 233);
    padding: 8px 0;
    width: 30vw;
    box-shadow: 1px 1px 0 0 #c2c1c1 inset;
    border: 1px solid rgb(205, 203, 203);
  }
  
  td {
    font-size: 0.6rem;
    text-align: center;
    color: #474646;
    border: 1px solid rgb(205, 203, 203);
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 8px 0;
    width: 30vw;
  }
  
  
  
  // 商材登録フォーム
  .reg-td {
    border: rgb(215, 207, 207) solid 1px;
    width: 30vw;
    height: 30px;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(205, 195, 195);
    color: white;
  }
  
  .summit-td {
    border: rgb(215, 207, 207) solid 1px;
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: #add8e6;
  }
  // 商材登録フォーム
  
  // リンク
  .link {
    text-decoration: none;
    color: blue;
  }
  
  .reset-link {
    text-decoration: none;
    color: white;
  
  }
  
  // 各商材
  
  @media screen and (max-width:599px) {
    .reg {width: 30vw;}
    .product-th {font-size: 8px; font-weight: bold;}
    h1 {font-size: 100%;}
    .link {font-size: 0.6rem;}
    th {font-size: 0.6rem;}
    td {font-size: 0.6rem;}
    .reset {width: 15vw;}
  
    table{
      min-width: 90%;
      margin: 10px 0 10px 5px;

      overflow-x: scroll;
    }
  }
  
  }