[data-scope-path="shifts/cashless"] {

h2 {
  margin: 15px;
  font-size: 20px;
  color: #add8e6;
  padding: 5px;
}

.body-tr:nth-child(even) {
  background: #deecf2;
  opacity: 0.7;
}

.text {
  margin-bottom: 8px;
  color: #988d8d;
}

// 日付タイトル部分
.date-title {
  text-align: left;
  vertical-align: middle;
}

// 日付以外のタイトル部分
.title {
  vertical-align: bottom;
}

th {
  text-align: center;
  color: white;
  background: #96C0CE;
  padding: 10px;
  width: 20vw;
  border: 1px solid #988d8d;
}

.shift-base-tr {
  border-bottom:2px solid #8f8d8d ;
}

.shift-user-tr:nth-child(even) {
  background-color: #f1eeee;
}

// .shift-td:nth-child(even) {
//   background: #deecf2;
//   opacity: 0.7;
// }

// 拠点のtd
.shift-td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px -3px 5px 1px #eee inset;
  color: #8f8d8d;
}

// リンク

.link {
  text-decoration: none;
}

.shift-new-link {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.shift-edit-link {
  color: #8f8d8d;
  text-decoration: none;
}

.shift-edit-link-red {
  color: red;
  text-decoration: none;
}

@media screen and(max-width:599px) {
  .text {font-size: 10px;}
  .cal-data {font-size: 10px;}
  th {
    width: 15vw;
  }
  .td {
    width: 15vw;
  }
  .shift-slct {width: 35vw;}
  .check-btn {
    width: 10vw;
    font-size: 80%;
  }
  .uncheck-btn {
    width: 10vw;
    font-size: 80%;
  }
  .input {font-size: 10px; }
}

}

