<%= render "shared/header" %>
<main class="main">
  <%= render "shared/side_bar" %>
  <div class="right-bar">
  <h1 class="sub-title">クレーム一覧（SS）</h1>


    


  <%= search_form_for @q do |f| %>

  <% end %>

  <hr>
  <% if @trouble_sses.empty? %>
  <%# 拠点全体売上 %>
  <% else %>    
  <% end %>
  </div>
</main>