.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  border-bottom: #28a3ef solid 5px;
}

.title {
  margin: 10px 10px;
  color: rgb(70, 137, 137);
}


.main {
  display: flex;
}
