
.search-frame {
  margin: 15px;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  display: block;
  table-layout: fixed;
  min-width: 100%;
}

.search-tr {
  padding: 20px;
}

.new-link {
  text-decoration: none;
  color: white;
  text-decoration: none;
  
}

.search-title{
  text-align: center;
  border: 1px solid rgb(255, 240, 240);
  padding: 5px 0;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
}

.search-form {
  border: 1px solid rgb(255, 240, 240);
  text-align: center;
  padding: 5px 0;
  box-shadow:0 0 1px 0 blue inset;
}

.search-label {
  color: white;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin-left: 5px;
  width: 90%;
}

.search-input {
  font-size: 18px;
  color: rgb(74, 73, 73);
  padding: 2px;
  border: none;
  width: 90%;
}

.search-date {
  width: 80%;
  border: none;
  color: rgb(74, 73, 73);
  font-size: 15px;
}

.search-checkbox {
  transform: scale(2.0);
}

.search-checkbox-th {
  color: white;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  text-align: center;
  width: 2%;
  padding: 5px 0;
  font-size: 15px;
}

.search-checkbox-td {
  text-align: center;
  width: 2%;
  box-shadow: 0px 0px 1px 1px gray inset;
  color: rgb(60, 57, 57);
  font-size: 15px;
}



.store-link {
  text-align: center;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  padding: 15px;
  border-radius: 20px 0;
  font-size: 18px;
}

.cashless-result {
  text-align: center;
  background: linear-gradient(40deg, red 0%, rgb(255, 201, 201) 100%);
  padding: 15px;
  border-radius: 20px 0;
  font-size: 18px;
}

.summit-result {
  text-align: center;
  background: linear-gradient(40deg, rgb(255, 166, 0) 0%, rgb(221, 230, 93) 100%);
  padding: 15px;
  border-radius: 20px 0;
  font-size: 18px;
}

.panda-result {
  text-align: center;
  background: linear-gradient(40deg, rgb(249, 145, 162) 0%, rgb(209, 96, 231) 100%);
  padding: 15px;
  border-radius: 20px 0;
  font-size: 18px;
}

.search-reset {
  border: 1px solid gray;
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(40deg, rgb(89, 89, 89) 0%, rgb(230, 228, 228) 90%);
  width: 10%;
}

.reset-link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.search-result {
  border: 1px solid gray;
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(40deg, #185ff8 0%, #cad1d6 90%);
  width: 10%;
}



.search-btn {
  border: none;
  color: white;
  background: linear-gradient(40deg, #185ff8 0%, #cad1d6 90%);
  width: 100%;
  height: 100%;
  font-size: 100%;
}


.search-table {
  margin: 15px;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: block;
  table-layout: fixed;
  min-width: 100px;
}

.search-th {
  color: white;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  text-align: center;
  width: 10%;
  padding: 10px 0;
  font-size: 15px;
}

.search-td {
  text-align: center;
  width: 10%;
  padding: 10px 0;
  box-shadow: 0px 0px 1px 1px gray inset;
  color: rgb(60, 57, 57);
  font-size: 15px;
}

.search-date-select {
  border: none;
  font-size: 15px;
}