.left-bar {
  width: 20vw;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  border: rgb(250, 241, 241) solid 2px;
  text-align: center;
  padding: 30px 20px;
}



.side-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}

.side-table {
  border-collapse: collapse;
  margin: 20px auto ;
  
}

.side-tr {
  
  background-image: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
}

.side-thead {
  text-align: center;
  color: white;
  width: 15vw;
  padding: 10px 0;
  border: 0.5px solid white;
}
