<div class="link-flex">
  <div class="section">
    <h2>各種一覧</h2>
    <p class="link-text"><%= link_to "一覧", airpays_path ,"data-turbolinks": false, class: "index-link" %></p>
  </div>
  <div class="section">
    <h2>　</h2>
    <p class="link-text"><%= link_to "月間早見", simple_conf_airpays_path ,"data-turbolinks": false, class: "index-link" %></p>
  </div>
</div>