<header class="header">
  <h2 class="title">Matter</h2>
  <div class="sign-bar">
    <% if user_signed_in? %>
      <%= link_to current_user.name, root_path, class: "sign-text" %>
      <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: "sign-text" %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path, class: "sign-text" %>
      <%= link_to "ログイン", new_user_session_path, class: "sign-text" %>
    <% end %>
  </div>
    
</header>
