<div class="summit-link-flex">
  <div class="summit-section">
    <h2>各種一覧</h2>
    <p class="link-text"><%= link_to "一覧", rakuten_pays_path ,"data-turbolinks": false, class: "summit-link" %></p>
    <p class="link-text"><%= link_to "不備内訳", deficiency_rakuten_pays_path ,"data-turbolinks": false, class: "summit-link" %></p>
  </div>
</div>