<nav class="left-bar">
    <ul>
      <li class="nav-text">dmer</li>
      <li class="nav-text">au</li>
      <li class="nav-text">paypay</li>
      <li class="nav-text">rakuten</li>
      <li class="nav-text">電気</li>
    </ul>
  </nav>