<div class="link-flex">
  <div class="section">
    <h2>各種一覧</h2>
    <p class="link-text"><%= link_to "一覧", store_props_path ,"data-turbolinks": false, class: "index-link" %></p>
  </div>
  <div class="section">
    <h2>　</h2>
    <% if current_user.position == "権限①" %>
    <p class="link-text"><%= link_to "新規登録", new_store_prop_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "CSV出力", export_store_props_path(format: :csv), data: {confirm: "CSVを出力しますか？"}, class: "index-link",id:'download-csv' %></p>
    <% end %>
  </div>
</div>