    <div class="result-flex "><%# 切り替え %>
      <div class="btn-form">
        <button class="display-btn">
          <%= link_to "獲得案件", person_data_result_summits_path(user_id: @user.id), class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "利益表", result_summit_path(@user.id), class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "獲得案件", person_data_result_summits_path(user_id: @user.id), class: "reset-link" %>
        </button>
      </div>
    </div><%# /切り替え %>