[data-scope-path="error_pages/index"] {

.main {
  background: rgb(189, 188, 188);
}


h1 {
    background: red;
    padding: 10px;
    font-size: 40px;
    color: white;
}

p {
  font-size: 20px;
  font-weight: bold;
  margin:20px 0 30px 0;
}

h2 {
  margin-top: 10px;
  color: blue;
}

}