<div data-scope-path="shifts/index">
  <h1>シフト一覧</h1>
  <%= render "shared/header" %>
    <table>
          <td class="reg"><%= link_to "シフト申請", new_shift_path, class: "reg-link" %></td>
    </table>
    <%= notice %>

</div>