.n-result-table {
  margin: 15px;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  white-space: nowrap;
  overflow: auto;
  letter-spacing: 0.5em;
  font-size: 10px;
}

.result-tr:nth-child(odd) {
  background: rgb(246, 243, 243);
}

.n-result-th {
  padding: 5px;
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  text-align: center;
  color: white;

}

.n-result-td {
  padding: 5px 0;
  text-align: center;
  border: 0.1px solid rgb(242, 241, 241);
  color: rgb(48, 47, 47);
  font-weight: bold;
}


.n-result-td-red {
  padding: 5px 0;
  text-align: center;
  border: 0.1px solid rgb(242, 241, 241);
  color: red;
}


.n-result-td:nth-child(even) {
  background: rgb(246, 243, 243);
}

