[data-scope-path="paypays/index"] {

h1 {
  padding: 1.0em;
  font-size: 20px;
  background: linear-gradient(40deg, #E8110F 0%,  #FBC723 90%);
  color: white;
}
// ヘッダー
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: linear-gradient(40deg, #E8110F 0%,  #FBC723 90%);
}

.sign-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.sign-bar {
  display: flex;
  justify-content: space-between;
}
// ヘッダー
// ハンバーガーデザイン
.nav {
  display: flex;
  
}

.dropdown {
  display: none;
  margin: 0;
  position: fixed;
}
label {
  color: #fff;
  border-right: solid 3px ;
  width: 200px;
}

label:hover {
  background: #1B6AA5;
}

li {
  background: #a9a7a7;
  color: white;
  opacity: 0.9;
  width: 200px;
}

label,
li {
  display: block;
  padding: 7px;
  text-align: center;
  letter-spacing: 0.5em;
  font-weight: bold;
}

li:hover {
  opacity: 1;
  background: #1B6AA5;
}


.side-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
} 

// ハンバーガーデザイン
main {
  width: 80vw;
  height: 90vh;
  overflow: scroll;
  margin-top: 10px;
  background: rgb(255, 248, 248);
  padding: 5px;
}

table{
  border-collapse: collapse;
  margin: 20px ;
  table-layout: fixed;
  min-width: 100%;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-width: 600px;
}

tr:nth-child(odd) {
  background: #ede5e5;
}

// 検索フォーム
.table-note {
  border-radius: 50px;
}



.search1 {
  text-align: center;
  color: white;
  background: #eb5c2f;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 10px 0;
  margin: 15px;
  width: 20vw;
}
  
.search1:nth-child(even) {
  background: #f9ca79;
}


.search2 {
  text-align: center;
  color: white;
  background:  #F78D3F;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 10px 0;
  margin: 15px;
  width: 7vw;
}

.search2:nth-child(even) {
  background:  #FCD271;
}

.search3 {
  text-align: center;
  color: white;
  background:  #2BBBD8;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 10px 0;
  margin: 15px;
  width: 7vw;
}


.reset {
  background: #c4bfbb;
  padding: 5px;
}

.reset-link {
  text-decoration: none;
  color: white;
}

.link {
  text-decoration: none;
  color: blue;
}
// 検索フォーム
th {
  text-align: center;
  color: white;
  background: #eb5c2f;
  padding: 10px;
  width: 15vw;
  border-bottom: none;
}

.result {
  background: #1B6AA5;
}

.result-btn {
  border: none;
  background: none;
  color: white;
  font-size: 15px;

}

.input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
}


td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 0;
}

}
    
  