.shift-title {
  margin: 15px;
}

.shift-table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 60vw;
  height: 100px;
  margin: 15px;
  border: 1px solid gray;
  border-radius: 5px;
}

.shift-link {
  background: linear-gradient(40deg,rgb(27, 68, 172) 0%, rgb(202, 200, 200) 75%);
  padding:10px;
  border-radius: 15px 0 ;
  width: 80%;
}

.sh-link {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  margin: 5px;
}

.sh-link:first-child {
  border-left: 6px double gray;
}

.shift-tr:last-child {
  border-bottom: 1px solid gray;
}

.shift-cashless-th {
  text-align: center;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  background: linear-gradient(40deg, red 0%, white 100%);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px 0;
  height: 20px;
}

.shift-praness-th {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background: linear-gradient(40deg, blue 0%, white 100%);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px 0;
}

.shift-summit-th {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background: linear-gradient(40deg, orange 0%, white 100%);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px 0;
}

.shift-panda-th {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background: linear-gradient(40deg, rgb(233, 109, 130) 0%, white 100%);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px 0;
}

.shift-other-th {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background: linear-gradient(40deg, green 0%, white 100%);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px 0;
}

.shift-sum-th {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  background: linear-gradient(40deg, rgb(93, 41, 153) 0%, white 90%);
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 10px 0;
}

.shift-td {
  text-align: center;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 5px 0;
  height: 10%;
  color: rgb(118, 114, 114);
  font-weight: bold;
}