.shift-link {
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  text-align: center;
  padding: 15px;
  border-radius: 30% 0; 
}

.shift-table {
  margin: 20px;
}

.shift-td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px;
  font-weight: bold;
  
}

.shift-tr:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}


.shift-th {
  background: linear-gradient(40deg, #7c9fea 0%, #28a3ef 74%);
  text-align: center;
  color: white;
  padding: 10px;
  
}
