// Place all the styles related to the pranesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show-title {
  color: rgb(223, 51, 51);
  margin: 15px;
}

.title {
  color: aqua;
}