.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  border-bottom: rgb(234, 115, 115) solid 5px;
}

.title {
  margin: 10px 10px;
  color: rgb(70, 137, 137);
}

.sign-bar {
  display: flex;
  
}

.sign-text {
  margin:10px 15px;
  text-decoration: none;
  color: gray;
}

.main {
  display: flex;
}

// ヘッダー下のボタン

.header-btn {
  margin: 15px;
}

.btn-text {
  text-align: center;
  color: rgb(74, 73, 73);
  font-size: 15px;
  text-decoration: none;
}


// /ヘッダー下のボタン


// CSVインポート

.csv-text {
  color: white;
  border: gray solid 1px;
}


.csv {
  display: flex;
  margin: 15px;
  color: rgb(74, 73, 73);
  border-bottom: rgb(211, 210, 210) solid 1px;
}

.csv-title {
  font-size: 17px;
  margin: 5px 10px;
}


.csv-btn {
  text-align: center;
  color: rgb(74, 73, 73);
}


.csv-submit {
  margin-bottom: 20px;
}

// ＃CSVインポート

// 左のタスクバー

.left-bar {
  width: 20vw;
  height: 80vh;
  background-color: rgb(244, 243, 236);
  border: rgb(250, 241, 241) solid 2px;
  text-align: center;
  padding-top: 10px;
}

.side-link {
  text-decoration: none;
  color: rgb(74, 73, 73);
}

// ＃左のタスクバー

// 右の店舗一覧

.show-title {
  color: rgb(74, 73, 73);
  margin: 15px;
}

.right-bar {
  width: 80vw;
  height: 80vh;
  overflow: scroll;
  margin-top: 10px;
}

.table {
  border-collapse: collapse;
  margin: 15px ;
  background-color: rgb(252, 248, 248);
}

.thead {
  color: rgb(74, 73, 73);
  border: rgb(223, 223, 223) solid 1px;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  width: 180px;
  height: 20px;
  padding: 4px;
}

.table-row {
  border: gray solid 1px;
}

.tdata {
  border: rgb(223, 223, 223) solid 1px;
  text-align: center;
  color: rgb(74, 73, 73);
  width: 180px;
  height: 20px;
  padding: 4px;
}

.tdata-long {
  border: rgb(223, 223, 223) solid 1px;
  text-align: center;
  color: rgb(74, 73, 73);
  width: 360px;
  height: 20px;
  padding: 4px;
}

.link {
  text-decoration: none;
  color: rgb(25, 113, 237);
}

// 右の店舗一覧

// 登録フォーム

.form-frame {
  margin: 15px;
  background-color: rgb(247, 240, 240);
}

.form-group {
  display: flex;
}

.form-interval {
  margin: 10px;
}

.form-text {
  color: rgb(74, 73, 73);
  font-size: 20px;
}

.form-input {
  margin-top: 10px;
  width: 200px;
  height: 35px;
  border: solid 2px gray ;
  border-radius: 5px;
  color: rgb(74, 73, 73);
  font-size: 20px;
}

.form-btn {
  font-size: 17px;
  margin: 10px;
  color: rgb(74, 73, 73);
  background-color: rgb(223, 223, 223);
  width: 100px;
  height: 40px;
  border: gray solid 1px;
  border-radius: 5px;
}

// 登録フォーム

// 店舗詳細

.edit-btn {
  margin: 15px;
}

// 