<div data-scope-path="error_pages/index">
  <div class="main">
    <h1>caution!</h1>

    <p>既に退職されている方は利用できません</p>

    <h2><%= link_to "ログイン画面へ戻る", destroy_user_session_path,method: :delete, class: "sign-text" %></h2>
  </div>
</div>