[data-scope-path="results/date_progress"] {

  table {
    margin: 20px;
  }

  th {
    border: 1px solid gray;
    vertical-align: middle;
  }

  td {
    border: 1px solid gray;
    padding: 5px;
  }

  .th-head {
    background-color: rgb(32, 32, 32);
    color: #fff;
    font-weight: bold;
    padding: 5px;
  }


}