[data-scope-path="results/daily_report"] {

  h2 {
    margin-top: 20px;
    margin-left: 15px;
    padding: 0.5em;
    font-size: 15px;
    border-bottom:2px solid #c4c2c2;
    color: rgb(70, 40, 40);
    // width: 22vw;
    
  }

  textarea {
    padding: 5px;
    width: 30vw;
    height: 100vh;
  }

  .sub-title {
    margin: 10px;
    color: rgb(88, 86, 86);
  }

  .daily-text {
    color: rgb(88, 86, 86);
  }

  .red {
    color: rgb(239, 143, 143);
    
  }
  .blue {
    color: rgb(45, 88, 240);

  }

  .link {
    text-decoration: none;
  }

  .red-link {
    text-decoration: none;
    color: rgb(239, 143, 143);
  }
  
  .conf-text {
    color: rgb(88, 86, 86);
    margin-left: 15px;
    margin-bottom: 5px;
  }

  .separate {
    display: flex;
  }

  .r-tb {
    border-collapse: collapse;
    margin: 10px;
    table-layout: fixed;
    min-width: 50%;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    max-width: 75vw;
    background-color: white;
    background-clip: padding-box;
  }

  .left-form {
    padding: 15px;
    width: 30vw;
  }
  .right-form {
    padding: 15px;
    width: 40vw;
  }

  @media screen and (max-width: 599px) {

    h2 {
      font-size: 0.7rem;
    }
    p {
      font-size: 0.3rem;
    }
    .sub-title {
      font-size: 0.8rem;
    }
  }
}