[data-scope-path="results/index"] {

h1 {
  padding: 1.0em;
  font-size: 20px;
  background: linear-gradient(40deg, #c4c2c2 0%,  #add8e6 90%);
  color: white;
  width: 100%;
}

h2 {
  margin-top: 20px;
  margin-left: 15px;
  padding: 0.5em;
  font-size: 15px;
  border-bottom:2px solid #c4c2c2;
  color: rgb(70, 40, 40);
  width: 50vw;
}

h3 {
  font-size: 8px;
  color: rgb(70, 40, 40);
  margin-left: 15px;
}

.s-th {
  width: 10px;
}

.s-td {
  width: 10px;
}

.s-input {
  border: none;
  // font-size: 0.3rem;
}

.s-submit {
  background: #96C0CE;
  text-align: center;
}

.s-btn {
  background: #96C0CE;
  border: none;
  color: white;
}

.s-reset {
  background-color: #676565;
}

.form-section {
  display: flex;
}


.shift-h2 {
  margin-top: 20px;
  margin-left: 15px;
  padding: 0.5em;
  font-size: 15px;
  border-bottom:2px solid #c4c2c2;
  color: rgb(70, 40, 40);
  width: 30vw;
}

.kansai-form {
  display: none;
}
.kanto-form {
  display: none;
}

.ojt-group {
  margin: 15px;
  display: flex;
  color: #525564;
}

.warning {
  padding: 1.0em;
  font-size: 20px;
  background: #fff1ac;
  color: red;
  border: solid 5px #74828F;
}

.warning-sub {
  padding: 10px 15px;
  color: rgb(86, 86, 215);
}
// ヘッダー
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  // border-bottom: #d9534f solid 5px;
  background: linear-gradient(40deg, #c4c2c2 0%,  #add8e6 90%);
}

.sign-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.sign-bar {
  display: flex;
  justify-content: space-between;
}



table{
  border-collapse: collapse;
  margin: 10px;
  table-layout: fixed;
  min-width: 50%;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-width: 75vw;
  background-color: white;
  background-clip: padding-box;
  // border: 0.5px solid gray;
}

tbody {
  -webkit-text-size-adjust: 100%;
}



.difference-tr {
  background-color: initial;
  background-color: rgb(255, 247, 236);
}

.percent-tr {
  background-color: initial;
  background-color: rgb(247, 232, 234);
}

.index-tr:nth-child(even) {
  background-color: rgb(242, 242, 242);
}




.td-blank {
  text-align: center;
  color: white;
  background-color: #8d8f91;
  padding: 10px;
  opacity: 0.5;
  width: 5vw;
  border-bottom: none;
  box-shadow: none;
}

// 検索フォーム
.table-note {
  border-radius: 50px;
  overflow-x:scroll
}

.search-th {
  text-align: center;
  color: white;
  background:  #c4c2c2;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  // padding: 10px 0;
  // margin: 15px;
  width: 20vw;
  // vertical-align: middle;
}

.input-math {
  text-align: right;
  border: none;
  font-size: 15px;
  width: 140px;
}


.search2:nth-child(even) {
  background:  #74828F;

}

.reset {
  background: #c4bfbb;
  padding: 5px;
}

.reset-link {
  text-decoration: none;
  color: white;
  padding: 5px;
}

a:hover {
  opacity: 0.5;
}

.link {
  text-decoration: none;
  color: blue;
}
.rank_link{
  color: blue;
  border-bottom:solid 1px blue;
}


th {
  text-align: center;
  color: white;
  background:  #c4c2c2;
  // box-shadow: 2px 2px 3px rgb(195, 201, 220) inset;
  padding: 3px 5px;
  width: 5vw;
  border-bottom: none;
  vertical-align: middle;
  font-size: 100%;
  border: 1px solid gray;
}

.gray {
  background:  #9e9d9d;
}



.shift-th {
  text-align: center;
  color: white;
  background:  #c4c2c2;
  box-shadow: 0px 1px 1px rgb(178, 189, 223) inset;
  padding: 10px 0;
  margin: 15px;
  width: 5vw;
  vertical-align: middle;
}

.out-th {
  text-align:left;
  vertical-align: middle;
}

.out-tb {
  max-height: 600px;
}

.out-tb thead th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
}


td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  // box-shadow: 0px -3px 5px 1px #eee inset;
  padding:5px;
  font-size: 100%;
  border: 1px solid gray;
}

.result {
  background: #96C0CE;
}

.result-btn {
  border: none;
  background: none;
  color: white;
  // font-size: 15px;

}

.input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
}

.date-input {
  background: none;
  border: none;
  width: 50%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
  text-align: center;
}

.nav-text {
  margin: 15px;
  color: rgb(103, 101, 101);
  font-weight: bold;
}


.caution-text {
  margin: 10px;
  color: rgb(239, 148, 148);
  font-weight: bold;
}

.shift-text {
  font-size: 5px;
  margin-left: 3px;
}

.red {
  color: initial;
  color: rgb(236, 98, 98);
}

.base-title {
  width: 50%;
}

.base-tb {
  // border: 1px solid gray;
}
.base-th {
  border: 1px solid gray;
}

.base-td {
  border: 1px solid gray;
}

.head-td {
  vertical-align: middle;
}

.even {
  background-color: rgb(242, 242, 242);
}

.base-val {
  color: rgb(103, 101, 101);
  // font-weight: bold;
  padding: 2px;
  border-radius: 5px;
}

.user-form {
  // display: flex;


}

.text-form {
  border: rgb(205, 203, 203) 2px solid;
  border-radius: 5px;
  margin: 15px;
  width: 40vw;
}

.nav-frame {
  display: flex;
  align-items: flex-end;
}

.frame {
  width: 100%;
}

.result-flex {
  display: flex;
  max-width: 80vw;
  overflow-x:scroll
}

.sticky {
  position: sticky;
  left: 0;
}
.sticky:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

.slmt-tb {
  border: 0.5px solid gray;
}

.user-tb {
  margin: 5px;
}

.main {width:80vw;}

h1 {width: 100%;}

  // 検索フォーム
  .search-form {
    padding-top: 10px;
    padding-left: 10px;

  }

  .search-btn {
    background: #96C0CE;
    color: white;
    border: none;
    height: 20px;
  }

  .s-reset-btn {
    background-color: #676565;
    border: none;
    height: 20px;
  }

  .s-reset-link {
    background-color: #676565;
    text-decoration: none;
    color: white;
    height: 20px;
  }

@media screen and (max-width: 599px) {
.result-flex {
  display: flex;
  flex-flow: column;
}

table {
  margin:10px 0 10px 10px;
  max-width: 85vw;
}

.main {width:100%;}
p {font-size: 6px;}
.user-form {flex-flow: column;}

h1 {font-size: 100%;}
h2 {
  width: 50vw;
  font-size: 6px;
}

.frame {flex-flow: column;}
.warning {font-size: 70%;}
.nav-text {font-size: 6px;}
.input {font-size: 6px;}
.date-input {font-size: 6px;}
th {font-size: 6px;}
td {font-size: 100%;}
.caution-text {font-size: 6px;}
}


}