[data-scope-path="results/index"] {

h1 {
  padding: 1.0em;
  font-size: 20px;
  background: linear-gradient(40deg, #96C0CE 0%,  #74828F 90%);
  color: white;
}

.warning {
  padding: 1.0em;
  font-size: 20px;
  background: #fff1ac;
  color: red;
  border: solid 5px #74828F;
}
// ヘッダー
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  // border-bottom: #d9534f solid 5px;
  background: linear-gradient(40deg, #96C0CE 0%,  #74828F 90%);
}

.sign-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.sign-bar {
  display: flex;
  justify-content: space-between;
}
// ヘッダー
// ハンバーガーデザイン
.nav {
  display: flex;
  
}

.dropdown {
  display: none;
  margin: 0;
  position: fixed;
}
label {
  color: #fff;
  border-right: solid 3px ;
  width: 200px;
}

label:hover {
  background: #C25B56;
}

li {
  background: #a9a7a7;
  color: white;
  opacity: 0.9;
  width: 200px;
}

label,
li {
  display: block;
  padding: 7px;
  text-align: center;
  letter-spacing: 0.5em;
  font-weight: bold;
}

li:hover {
  opacity: 1;
  background: #C25B56;
}


.side-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
} 

// ハンバーガーデザイン

.reg {
  text-align: center;
  color: white;
  font-weight: bold;
  background: linear-gradient(40deg, #96C0CE 0%,  #74828F 90%);
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 15px 0;
  margin: 15px;
  width: 7vw;
  border-radius: 18px 0;
}

.reg-link {
  text-decoration: none;
  color: white;
  display: block;
}

.search-table {
  border-collapse: collapse;
  margin: 20px ;
  table-layout: fixed;
  min-width: 100%;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  max-width: 600px;
}

table{
  border-collapse: collapse;
  margin: 10px ;
  table-layout: fixed;
  min-width: 50%;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  // max-width: 600px;
}

.separate {
  display: flex;
}

tr:nth-child(even) {
  background: #ede5e5;
}

.td-blank {
  text-align: center;
  color: white;
  background-color: #8d8f91;
  padding: 10px;
  opacity: 0.5;
  width: 5vw;
  border-bottom: none;
  box-shadow: none;
}

// 検索フォーム
.table-note {
  border-radius: 50px;
}

.search1 {
  text-align: center;
  color: white;
  background:  #525564;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 10px 0;
  margin: 15px;
  width: 20vw;
}

  
.search1:nth-child(even) {
  background:  #96C0CE;
}


.search2 {
  text-align: center;
  color: white;
  background:  #96C0CE;
  box-shadow: 0px 1px 1px rgb(214, 219, 235) inset;
  padding: 10px 0;
  margin: 15px;
  width: 7vw;
}


.search2:nth-child(even) {
  background:  #74828F;

}

.reset {
  background: #c4bfbb;
  padding: 5px;
}

.reset-link {
  text-decoration: none;
  color: white;
}

.link {
  text-decoration: none;
  color: blue;
}
// 検索フォーム
.search-th {
  text-align: center;
  color: white;
  background: #74828F;
  padding: 10px;
  width: 15vw;
  border-bottom: none;
}


th {
  text-align: center;
  color: white;
  background: #74828F;
  padding: 10px;
  width: 5vw;
  border-bottom: none;
}

th:nth-child(even) {
  background: #96C0CE;
}

.search-td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 5px;
}

td {
  border-bottom: 1px solid rgb(205, 203, 203);
  text-align: center;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 5px 0;
}

.result {
  background: #96C0CE;
}

.result-btn {
  border: none;
  background: none;
  color: white;
  font-size: 15px;

}

.input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
}

.date-input {
  background: none;
  border: none;
  width: 48%;
  height: 100%;
  font-size: 18px;
  color: rgb(103, 101, 101);
}
}
