[data-scope-path="results/new"] {
h1 {
  padding: 1.0em;
  font-size: 150%;
  background: linear-gradient(40deg, #c4c2c2 40%,  #96ceb4 90%);
color: white;
}
// ヘッダー
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: linear-gradient(40deg, #c4c2c2 40%,  #96ceb4 90%);
}

.sign-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 5px;
}

.sign-bar {
  display: flex;
  justify-content: space-between;
}
// ヘッダー
// ハンバーガーデザイン
.nav {
display: flex;

}

.dropdown {
display: none;
margin: 0;
position: fixed;
}

label {
color: #fff;
border-right: solid 3px ;
width: 200px;
}

label:hover {
background: #C25B56;
color: white;
}

li {
background: #a9a7a7;
color: white;
opacity: 0.9;
width: 200px;
}

label,
li {
display: block;
padding: 7px;
text-align: center;
letter-spacing: 0.5em;
font-weight: bold;
}

li:hover {
opacity: 1;
background: #C25B56;
color: white;
}


.side-link {
text-decoration: none;
color: white;
font-weight: bold;
display: block;
} 

// ハンバーガーデザイン

.reg-link {
  text-decoration: none;
  color: white;
  display: block;
}



// 登録フォーム
.form-frame {
margin-top: 20px;
// padding: 10px;
}

.form-text {
color: white;
border: none;
width: 90vw;
// height: 3vh;
color: rgb(103, 101, 101);
font-size: 150%;
font-weight: bold;
}

.form-input {
width: 90vw;
height: 4vh;
padding: 5px 0 5px 10px;
margin-right: 25px;
border: none;
border-radius: 10px;
color: rgb(103, 101, 101);
background: #e9e8e8;
font-size: 150%;
font-weight: bold;
}

.birthday-input {
width: 100px;
height: 45px;
}

.submit-btn {
color: white;
font-size: 180%;
border: none;
border-radius: 5px;
width: 100vw;
height: 7vh;
background: #96ceb4;
cursor: pointer;
// margin: 30px 0 10px 10px;
}
// 登録フォーム
// 検索フォーム

table {
  margin: 10px auto;

}

}